    <footer class="container">
        <strong>piracydata.org</strong> <span class="muted credit">&bull; Lovingly made by <a href="https://twitter.com/jerrybrito">Jerry Brito</a>, <a href="https://twitter.com/elidourado">Eli Dourado</a>, and <a href="https://clipperhouse.com">Matt Sherman</a></span>
        <span>&bull; <a href="/tech">about the tech</a></span>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    {{if eq .RunMode "dev"}}
        {{template "debug.html" .}}
    {{end}}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">
      function drawVisualization() {
        var data = google.visualization.arrayToDataTable([
          ['Week', 'Streaming', 'Rental', 'Purchase', 'Total Availability'],
          {{range .home.AllWeeks}}['Week ending {{.Date.Format "Jan 2, 2006"}}',{{.Streaming}},{{.Rental}},{{.Purchase}},{{.All}}],
		  {{end}}]);

        var options = {
          height: 500,
          vAxis: {title: "Number of Movies", maxValue:10, gridlines:{count:6}},
          seriesType: "bars",
          series: {3: {type: "line"}}
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
      google.setOnLoadCallback(drawVisualization);
    </script>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </body>
</html>
