<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pathway+Gothic+One">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css?{{.home.AppVersion}}">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.ico?{{.home.AppVersion}}">
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}?{{.home.AppVersion}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-175096-19', 'piracydata.org');
	  ga('send', 'pageview');

	</script>
  </head>
  <body>
  	<header class="jumbotron">
      <div class="container">
  		<div class="pull-right">
  		<a href="https://twitter.com/share" class="twitter-share-button pull-right margin-top-20" data-url="http://piracydata.org/" data-text="Do people turn to piracy when the movies they want to watch are not available legally?" data-related="elidourado" data-size="large">Tweet</a>
  		</div>
  		<h1><a href="/">Top 10 Most Pirated Movies of the Week</a></h1>
  		<p>Are they available for legal streaming, digital rental, or digital purchase?</p>
	
  	</div>
  	</header>