<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pathway+Gothic+One">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.ico">
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">
      function drawVisualization() {
        var data = google.visualization.arrayToDataTable([
          ['Week', 'Streaming', 'Rental', 'Purchase', 'Total Availability'],
		  // the data below is only for the more recent week. we need to expose a slice of weeks.
		  ['Week ending {{.home.CurrentWeek.Date.Format "Jan 2, 2006"}}',{{.home.CurrentWeek.Streaming}},{{.home.CurrentWeek.Rental}},{{.home.CurrentWeek.Purchase}},{{.home.CurrentWeek.All}}],
		  ]);

        var options = {
//          title: 'Availability of the Top 10 Most Pirated Movies',
		  height: 500,
          vAxis: {title: "Number of Movies", maxValue:10, gridlines:{count:6}},
          seriesType: "bars",
          series: {3: {type: "line"}}
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
      google.setOnLoadCallback(drawVisualization);
    </script>
	
  </head>
  <body>
  	<header class="jumbotron">
      <div class="container">
  		<div class="pull-right">
  		<a href="https://twitter.com/share" class="twitter-share-button pull-right margin-top-20" data-url="#" data-text="How many of the top 10 most pirated movies are available for streaming?" data-related="elidourado" data-size="large">Tweet</a>
  		</div>
  		<h1>Top 10 Most Pirated Movies of the Week</h1>
  		<p>Are they available for legal streaming, digital rental, or digital purchase?</p>
	
  	</div>
  	</header>